# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env — JANGAN PERNAH commit ini ke GitHub
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data lokal
data/

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

/src/generated/prisma

import-schema.js
schema_aiven.sql
database/schema_aiven.sql
